torchmetrics
matplotlib
pandas
pillow
#torchtnt==0.2.0
tabulate
tdqm
distinctipy
cjm_pandas_utils
cjm_psl_utils
cjm_pil_utils
cjm_pytorch_utils
cjm_torchvision_tfms
segmentation_models_pytorch
albumentations
scikit-image
scikit-learn
scipy